/**********************************************************************************

 date created:          05.23.12
 date modified:         05.23.12
 
 notes:                 Template Nav CSS file for Shoelace.
                        Used for simple navigation between flat HTML templates.
                        Should not be included in live site.
 
***********************************************************************************/
.template-nav{
    display: block;
    position: absolute;
    top: 200px;
    font-size: 32px;
    color:#fff;
    z-index: 1000;
}
.template-nav:hover{
    color: #fff;
    text-decoration: none;
}
.template-nav-next{
    right: 0;
}
.template-nav-prev{
    left: 0;
}